:root {
    --toolbar-height: 30px;
    --primary-color: rgb(204, 204, 204);
    --secondary-color: rgb(117, 117, 117);
    --background-color: rgb(40, 40, 56);
    --background-secondary-color: rgb(57, 57, 80);
}

* {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}

#output {
    position: absolute;
    top: var(--toolbar-height);
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}

#title-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: var(--background-secondary-color);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#drag-window {
    height: var(--toolbar-height);
    width: calc(100% - var(--toolbar-height) - 1px);
    -webkit-app-region: drag;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-direction: column;
    
}

#drag-window h1 {
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    height: var(--toolbar-height);
    margin: 0;
}

#close-button {
    height: var(--toolbar-height);
    width: 30px;
    border-bottom: none;
    transition: .3s;
    z-index: 1;
}

#close-button:hover {
    background-color: #FFF3;
}

#close-button:active {
    background-color: #FFF6;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
