input {
    width: 100%;
    font-size: 32px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    margin: 0;
    padding: 0;
}

input[disabled] {
    opacity: .8;
}

.home-button {
    width: calc(100%);
    font-size: 24px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    margin-top: 10px;
    outline: none;
}

.home-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.home-button:active {
    filter: brightness(.6);
}

.input-container {
    height: 200px;
}

.input-container > * {
    float: left;
}

#start-rendering {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
}

#start-rendering:hover {
    background-color: var(--secondary-color);
    color: var(--background-secondary-color);
}

.inputs {
    width: calc(50% - 20px);
    padding: 10px;
    background-color: #0002;
}

.input {
    margin-bottom: 10px;
}

.report-container {
    position: relative;
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.report-item {
    width: calc(100% - 40px);
    background-color: #0002;
}

.report-item h1 {
    width: fit-content;
    padding: 20px;
    font-size: 20px;
}